<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans-CN">
<head>
    <title>码农社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var isClosed = window.localStorage.getItem("isClosed");
        if (isClosed === "true") {
            window.close();
            window.localStorage.removeItem("isClosed");
        }
    }
</script>
<body>
<!-- 首页 -->
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <!-- 正文 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 发现</span></h3>
            <hr/>
            <div class="media" th:each="question : ${pagination1.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="用户头像"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>条评论
                        <span th:text="${question.viewCount}"></span>次浏览
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                    <hr>
                </div>
            </div>
            <!-- 处理分页 -->
            <nav aria-label="Page navigation">
                <ul class="pagination pull-right">
                    <li th:if="${pagination1.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination1.showPrevious}">
                        <a th:href="@{/(page=${pagination1.page}-1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination1.pages}" th:class="${pagination1.page == page} ? 'active' : ''">
                        <a th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination1.showNext}">
                        <a th:href="@{/(page=${pagination1.page}+1,search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination1.showEndPage}">
                        <a th:href="@{/(page=${pagination1.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- 站长座右铭 -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background-color: black;height: 5px">
            <h3>谦谦君子，温文如玉</h3>
            <a href="#">
                <img class="img-style img-thumbnail" src="images/img/favor.png" alt="Style">
            </a>
        </div>
    </div>
</div>
<div th:replace="footer :: myfooter"></div>
</body>
</html>