<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans-CN">
<head>
    <title>荣耀社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<!-- 通知页 -->
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <!-- 选择板块 -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background-color: black;height: 5px">
            <div class="list-group section">
                <a href="/notifications/action/index"
                   th:class="${section == 'index'} ? 'active list-group-item' : 'list-group-item'">评论
                    <span class="badge" th:text="${unReadComment}"></span>
                </a>
                <a href="/notifications/action/reply"
                   th:class="${section == 'reply'} ? 'active list-group-item' : 'list-group-item'">回复
                    <span class="badge" th:text="${unReadReply}"></span>
                </a>
                <a href="/notifications/action/like"
                   th:class="${section == 'like'} ? 'active list-group-item' : 'list-group-item'">点赞
                    <span class="badge" th:text="${unReadLike}"></span>
                </a>
            </div>
        </div>
        <!-- 详细展示 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- 评论板块 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'index'}">
                <hr>
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName +' ' + notification.typeName + ' '}"></span>
                            <a th:href="@{'/notifications/detail/'+ ${notification.outerid}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 回复板块 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'reply'}">
                <hr>
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName +' ' + notification.typeName + ' '}"></span>
                            <a th:href="@{'/notifications/detail/'+ ${notification.outerid}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 点赞板块 -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'like'}">
                <hr>
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${notification.notifierName +' ' + notification.typeName + ' '}"></span>
                            <a th:href="@{'/notifications/detail/'+ ${notification.outerid}}"
                               th:text="${notification.outerTitle}">
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--处理分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pull-right">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{./{section}(page=${1}, section=${section})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{./{section}(page=${pagination.page - 1}, section=${section})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page} ? 'active' : ''">
                            <a th:href="@{./{section}(page=${page}, section=${section})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{./{section}(page=${pagination.page + 1}, section=${section})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: myfooter"></div>
</body>
</html>